@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    scroll-behavior: smooth;
}

.underline {
    border-bottom: 1px solid #000;
}

nav {
    height: 100vh;
    position: sticky;
    top: 0;
}

main {
    padding: 20px;
    border-left: 2px solid black;
}

nav ul li {
    color: black;
    font-size: 20px;
    list-style: none;
    padding: 20px 10px;
    border-bottom: 1px solid #000;
}

nav ul a {
    text-decoration: none;
}

nav ul li:hover {
    cursor: pointer;
    background-color: rgb(239, 222, 222);
}

nav h1 {
    padding: 10px;
    border-bottom: 1px solid #000;
}

#Introduction {
    padding: 20px;
}

#Introduction p,
h3 {
    margin: 20px;
}

#Introduction ul li {
    margin: 20px;
}

#What_you_should_already_know {
    padding: 20px;
}

#What_you_should_already_know p,
h3 {
    margin: 20px;
}

#What_you_should_already_know ul li {
    margin: 20px;
}

#JavaScript_and_Java {
    padding: 20px;
}

#JavaScript_and_Java p {
    margin: 20px;
}

#Hello_world {
    padding: 20px;
}

#Hello_world p {
    margin: 20px;
}

.Hello_world-box {
    padding: 5px;
    background-color: rgb(231, 221, 221);
}

#Variables {
    padding: 20px;
}

#Variables p {
    margin: 20px;
}